body {
  padding-top: 50px;
  background-color:rgb(250, 250, 250);
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.wrap
{
    width: 270px;
    height: 480px;
    padding: 0;
    overflow: hidden;
}
.frame
{
    width: 1080px;
    height: 1920px;
    border: 1px solid black;

    -ms-transform: scale(0.33);
    -moz-transform: scale(0.33);
    -o-transform: scale(0.33);
    -webkit-transform: scale(0.33);
    transform: scale(0.33);

    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
