body {
  padding-top: 50px;
  background-color:rgb(250, 250, 250);
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

<style>
    #wrap { width: 484px; height: 274px; padding: 0; overflow: hidden; }
    #frame { width: 480px; height: 270px; border: 1px solid black; }
    #frame {
        -ms-zoom: 0.25;
        -moz-transform: scale(0.25);
        -moz-transform-origin: 0 0;
        -o-transform: scale(0.25);
        -o-transform-origin: 0 0;
        -webkit-transform: scale(0.25);
        -webkit-transform-origin: 0 0;
    }
</style>